div{
    display: flex;
    flex-wrap: nowrap;
    flex-direction:column;
    width: 400px;
    height:900px;
    background-color:blue;
    overflow: auto;
    justify-content: space-evenly;
    align-items: center;
  
}

img{
    width: 100px;
    height: 80px;
}
